.mode-light {
    background-color: #f8f9fa;
    color: #212529; 
}

.mode-dark {
    background-color: #212529; 
    color: #f8f9fa; 
}

.table-dark-custom {
    background-color: #343a40;
    color: #f8f9fa;
}